{% extends "base.html" %} {% load humanize %} {% load static %} {% block title %} Home {% endblock %} {% block extra_js %}

<script language="javascript">
    var CLEAR_BUTTON_URL = "{% static 'charsearch_app/images/clear.png' %}";
</script>
{% if js_filters|length > 0 %}
  <script type="text/javascript">
    window.js_filters = {{js_filters | safe}};
  </script>
{% endif %}
<script type="text/javascript">
    function favorite(ele, id) {
        $.ajax({
            type: 'GET',
            url: '/favorite/' + id,
            success: function(data) {
                ele.src = "{% static 'charsearch_app/images/favorite-heart-button.png' %}";
                ele.setAttribute('onclick', 'unfavorite(this,' + id + ')');
            },
            async: true
        });
    }

    function unfavorite(ele, id) {
        $.ajax({
            type: 'GET',
            url: '/unfavorite/' + id,
            success: function(data) {
                ele.src = "{% static 'charsearch_app/images/favorite-heart-outline-button.png' %}";
                ele.setAttribute('onclick', 'favorite(this,' + id + ')');
            },
            async: true
        });
    }
</script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script type="text/javascript" src="{% static 'charsearch_app/javascript/jquery.tablesorter.js' %}"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
{% endblock %} {% block content %}
<div class="center">
    <div class="ui-panel container">
        <img class='header-image' src="{% static 'charsearch_app/images/title.png' %}" alt="Eve Character Search" />
    </div>
</div>
<div class="center">
    <div class="ui-panel container">
        <form name="filters" method="get" action="/">
            <button class="button" type="button" onclick="addFilter();">Add Filter</button><br>
            <input class="button" type="submit" value="Search" />
        </form>
        <script stype="text/javascript" src="{% static 'charsearch_app/javascript/charsearch.js' %}"></script>

    </div>
</div>
{% if threads %}
<div class='center'>
    <div class="pagination clearfix">
        {% if threads.has_previous %}
        <a href="?{{get_params.urlencode}}&amp;page=1">First</a>
        <a href="?{{get_params.urlencode}}&amp;page={{ threads.previous_page_number }}">«</a>
        <a href="?{{get_params.urlencode}}&amp;page={{ threads.previous_page_number }}">{{ threads.previous_page_number }}</a> {% endif %}
        <strong>{{ threads.number }}</strong> {% if threads.has_next %}
        <a href="?{{get_params.urlencode}}&amp;page={{ threads.next_page_number }}">{{ threads.next_page_number }}</a>
        <a href="?{{get_params.urlencode}}&amp;page={{ threads.next_page_number }}">»</a>
        <a href="?{{get_params.urlencode}}&amp;page={{ threads.paginator.num_pages }}">Last</a> {% endif %}
    </div>
</div>
<table id="thread_table" class="center">
    <thead>
        <tr>
            <th scope="col">Fav</th>
            <th scope="col">Thread</th>
            <th scope="col">Total SP</th>
            <th scope="col">Last Seen</th>
            <th scope="col">Eveboard Link</th>
        </tr>
    </thead>
    <tbody>
        {% for thread in threads %}
        <tr>
            <td align="center">
                {% if thread.id in favorites %}
                <div class="hidden">1</div>
                <img onclick="unfavorite(this,{{thread.id}})" src="{% static 'charsearch_app/images/favorite-heart-button.png' %}" alt="Favorite"> {% else %}
                <div class="hidden">2</div>
                <img onclick="favorite(this,{{thread.id}})" src="{% static 'charsearch_app/images/favorite-heart-outline-button.png' %}" alt="Favorite"> {% endif %}
            </td>
            <td><a href="https://forums.eveonline.com/t/{{ thread.thread_slug }}/{{ thread.thread_id }}" target="_blank">{{ thread.thread_title }}</a></td>
            <td>{% filter intcomma %} {{ thread.character.total_sp}} {% endfilter %}</td>
            <td>{{ thread.last_update|date:"M d, Y h:i A" }}</td>
            <td align="center">
                <div class="eveboard">
                    <a href="http://eveskillboard.com/pilot/{{ thread.character.name }}" target="_blank">
                        <img src="{% static 'charsearch_app/images/eveskillboard.png' %}" alt="Eveboard link">
                    </a>
                </div>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<div class="center">
    <div class="pagination clearfix">
        {% if threads.has_previous %}
        <a href="?{{get_params.urlencode}}&amp;page=1">First</a>
        <a href="?{{get_params.urlencode}}&amp;page={{ threads.previous_page_number }}">«</a>
        <a href="?{{get_params.urlencode}}&amp;page={{ threads.previous_page_number }}">{{ threads.previous_page_number }}</a> {% endif %}
        <strong>{{ threads.number }}</strong> {% if threads.has_next %}
        <a href="?{{get_params.urlencode}}&amp;page={{ threads.next_page_number }}">{{ threads.next_page_number }}</a>
        <a href="?{{get_params.urlencode}}&amp;page={{ threads.next_page_number }}">»</a>
        <a href="?{{get_params.urlencode}}&amp;page={{ threads.paginator.num_pages }}">Last</a> {% endif %}
    </div>
</div>
{% else %}
<div class="center">
    <div class="mypanel">
        No search results, add a filter to get started or adjust your current ones
    </div>
</div>
{% endif %}

<div class="center">
    <div class="mypanel notes">
        <h2>Notes</h2>
        <ul>
            <li>This app scrapes the eve-o forum character bazaar and builds a database of currently active sales</li>
            <li>You add filters then hit search to find the character with the skills you want</li>
            <li>Check out the project on <a href="https://github.com/vixfwis/EveCharacterSearch">GitHub</a> if you want to contribute issues or pull requests</li>
        </ul>
    </div>
</div>
{% endblock %}
